# This is a sample build configuration for Javascript (Node.js).
# Check our guides at https://confluence.atlassian.com/x/14UWN for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
image: node:6.9.4

pipelines:
  default:
    - step:
        caches:
          - node
        script:
          - npm ci
          - npm test
  branches:
    master:
    - step:
        caches:
          - node
        script:
          - npm ci
          - npm ci firebase-tools cli-real-favicon -g
          - real-favicon check-for-update --fail-on-update faviconData.json
          - npm run build
          - firebase deploy -m "Pipeline $CI_PIPELINE_ID, build $CI_BUILD_ID" --only hosting --non-interactive --token $FIREBASE_DEPLOY_KEY
    develop:
    - step:
        caches:
          - node
        script:
          - npm ci
          - npm ci firebase-tools cli-real-favicon -g
          - real-favicon check-for-update --fail-on-update faviconData.json
          - npm run build
          - firebase deploy -m "Pipeline $CI_PIPELINE_ID, build $CI_BUILD_ID" --only hosting --non-interactive --token $FIREBASE_DEPLOY_KEY_BETA
